<web-app>

<servlet>
<servlet-name>message</servlet-name>
<servlet-class>message</servlet-class>
</servlet>

<servlet-mapping>
<servlet-name>message</servlet-name>
<url-pattern>/message</url-pattern>
</servlet-mapping>

<servlet>
<servlet-name>register</servlet-name>
<servlet-class>register</servlet-class>
</servlet>

<servlet-mapping>
<servlet-name>register</servlet-name>
<url-pattern>/register</url-pattern>
</servlet-mapping>



<servlet>
<servlet-name>adminregister</servlet-name>
<servlet-class>adminregister</servlet-class>
</servlet>

<servlet-mapping>
<servlet-name>adminregister</servlet-name>
<url-pattern>/adminregister</url-pattern>
</servlet-mapping>


<servlet>
<servlet-name>userlogin</servlet-name>
<servlet-class>userlogin</servlet-class>
</servlet>

<servlet-mapping>
<servlet-name>userlogin</servlet-name>
<url-pattern>/userlogin</url-pattern>
</servlet-mapping>

<servlet>
<servlet-name>adminlogin</servlet-name>
<servlet-class>adminlogin</servlet-class>
</servlet>

<servlet-mapping>
<servlet-name>adminlogin</servlet-name>
<url-pattern>/adminlogin</url-pattern>
</servlet-mapping>

<servlet>
<servlet-name>userdelete</servlet-name>
<servlet-class>userdelete</servlet-class>
</servlet>

<servlet-mapping>
<servlet-name>userdelete</servlet-name>
<url-pattern>/userdelete</url-pattern>
</servlet-mapping>

<servlet>
<servlet-name>fir1</servlet-name>
<servlet-class>fir1</servlet-class>
</servlet>

<servlet-mapping>
<servlet-name>fir1</servlet-name>
<url-pattern>/fir1</url-pattern>
</servlet-mapping>



<servlet>
<servlet-name>demo</servlet-name>
<servlet-class>demo</servlet-class>
</servlet>

<servlet-mapping>
<servlet-name>demo</servlet-name>
<url-pattern>/demo</url-pattern>
</servlet-mapping>

</web-app>